<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>

<body>
    <h1>TO-DO</h1>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkDefault">
        <label class="form-check-label" for="checkDefault">
            Flask
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkDefault" >
        <label class="form-check-label" for="checkDefault">
            Django
        </label>
    </div>

</body>

</html>